@import "../../assets/styles/variables";

.create-comment-popup {
  position: fixed;
  width: 90%;
  bottom: 3vh;
  left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $white-color;
  padding: 6px;
  border-radius: $border-radius-primary;
  max-width: 1366px;

  .create-comment-popup__group {
    background-color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;

    .create-comment-popup__label {
      display: flex;
      align-items: center;
      background-color: inherit;
      padding-left: 12px;
      font-size: $font-size-regular;
      color: $secondary-color;

      .create-comment-popup__label-btn {
        background-color: inherit;
        border: 2px solid $gray-color;
        border-radius: $border-radius-secondary;
        margin-right: 6px;
        color: $gray-color;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .create-comment-popup__input {
      width: 100%;
      height: 100%;
      border: none;
      color: $dark-color;
      font-size: $font-size-regular;
      background-color: inherit;
      padding-left: 12px;

      &:focus {
        outline: none;
      }
    }
  }
}
