@import "../../assets/styles/variables";

.plus-btn {
  position: fixed;
  bottom: calc(3vh + 6px);
  left: calc(5% + 6px);
  z-index: 10;
}

.send-btn {
  margin-left: auto;
}

.create-comment-popup {
  position: fixed;
  width: 90%;
  bottom: 3vh;
  left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $white-color;
  padding: 6px;
  border-radius: $border-radius-primary;
  max-width: 1366px;

  .create-comment-popup__group {
    background-color: inherit;
    display: flex;
    align-items: center;
    padding-left: 52px;

    .create-comment-popup__label {
      display: flex;
      align-items: center;
      background-color: inherit;
      font-size: $font-size-regular;
      color: $secondary-color;

      .create-comment-popup__label-btn {
        background-color: inherit;
        border: 2px solid $gray-color;
        border-radius: $border-radius-secondary;
        margin-right: 6px;
        color: $gray-color;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .create-comment-popup__input {
      width: 60%;
      height: 100%;
      border: none;
      color: $dark-color;
      font-size: $font-size-regular;
      background-color: inherit;
      padding-left: 8px;

      &:focus {
        outline: none;
      }
    }
  }

  .create-comment-popup__input {
    width: 60%;
    height: 100%;
    border: none;
    color: $dark-color;
    font-size: $font-size-regular;
    background-color: inherit;
    padding-left: 52px;

    &:focus {
      outline: none;
    }
  }
}
